@import 'bootstrap/bootstrap';
@import 'components';
@import 'modules';
@import 'mixins';

html, body {
  background-color: #ffffff;
}

body {
  color: black;
}

.top-bar-logo {
  background-color: $ruby;
  padding: 5px;
}