@import 'bootstrap/bootstrap';
@import 'vars';
@import 'components';
@import 'modules';
@import 'mixins';

html, body {
  background-color: #ffffff;
}

body {
  background-color: #eee;
  color: #555;
  font-size: $base-font-size;
  font-family: $serif;
}

header {
  background-color: $white;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #eee;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  li {
    padding: 1em;
  }
}


@media screen and (max-width: 430px) {
  .navigation {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    li {
      text-align: center;
    }
  }
}

.top-bar-logo {
  background-color: $ruby;
  padding: 5px;
}

.flex-hero {
    width: 800px;
    height:auto;
    padding: 0;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    //flex-grow:all;

    h1 {
        width:inherit;
    }
}

.flex-container-a {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item-a {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.flex-container {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #594255;
}

.flex-container-b {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    flex-grow:all;
    // justify-content: space-between;
    width: 400px;
    min-height: 600px;
    height:850px;
    background-color: lightgrey;
}

.flex-item-b {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(1);
}
/*
** These styles have been added to --> 'app/less/components/_overflow-scroll-x-axsis.less'
** Leaving styles here because I think it may be handy some day
*/
  .my-overflow-x {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    border: 1px solid $gray-lightest;
    background: $white;
  }

  img.my-overflow-x {
    margin: 5px 5px 5px 5px;
  }

ul.scrolling-links {
  //background-color:lightblue;
  max-width: 840px;
  width: 100%;
  height: 100%;
  margin: auto 0;

  @include flexbox();
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  li.scrolling-link {
    /*background-color: red;*/
    a {
      font-size: 12px;
      padding-right: 15px;
      padding-left: 15px;
    }
    &:before {

    }
    &:after {
      /*padding: 0 15px 0 15px;*/
      content: " | ";
    }
  }
  li.scrolling-link:first-child {
    a {
      padding-left:0;
    }
  }
  li.scrolling-link:last-child {
    &:after {
      content: " ";
    }
  }
} /* scrolling-links */


.docs_container {
  position: relative;
  @include flexbox();
  /*flex-grow:all;*/
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;

  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  width: 100%;
  min-height: 350px;
  height: 100%;
  margin: 15px 0;
  padding: 0 0 15px;
  background-color: lightblue;

  .docs_header {
    width: 100%;
    height:50px;
    background-color: lightgreen;
  }
  .docs_example {
    width: 100%;
    height:50px;
    background-color: yellow;
  }
  .docs_code {
    width: 100%;
    height:100%;
    @include flexbox();
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;

      pre {
        width: 100%;
        text-align: left;
        border: none;

        code {
          text-align: left;
          font-size:12px;
        }
      }
  }
}


/*
 * ZeroClipboard styles
 */
.zero-clipboard .btn-clipboard {
    top: 0;
    border-top-right-radius: 0;
}

.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0;
}

.zero-clipboard+.docs_header {
    width:100%;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.highlight, .docs_header {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    width:100%;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 0;
}
@media (min-width: 768px) {
  .zero-clipboard {
    display: block;
  }
  .docs_container + .zero-clipboard .btn-clipboard {
    top: -16px;
    border-top-right-radius: 0;
  }
}

.btn-clipboard-hover {
  background-color:black!important;
  color:white!important;
}

.btn-clipboard-active {
  background-color:black!important;
  color:white!important;
}