/*------------------------------------*
    $COLORS
\*------------------------------------*/
$white:                 #fff!default;
$black:                 #000!default;

$sapphire:              #1F3A7D!default;
$ruby:                  #ab3032!default;
$emerald:               #005B26!default;

$link-color-sapphire:   lighten($sapphire, 11.85%) !default;
$link-color-ruby:       lighten($ruby, 0.75%) !default;
$link-color-emerald:    lighten($emerald, 11.85%) !default;

$champagne:             #f8f5ef!default;
$champagne-light:       mix($champagne, $white, 75%);
$champagne-x-light:     #FDFCFB!default;
$champagne-dark:        #EDEAE4!default;

$gray-base:             #000!default;
$gray-darker:           lighten($gray-base, 13.5%); // #222
$gray-dark:             lighten($gray-base, 20%);   // #333
$gray:                  lighten($gray-base, 33.5%); // #555
$gray-light:            lighten($gray-base, 46.7%); // #777
$gray-lighter:          lighten($gray-base, 66.667%); // #aaa
$gray-lightest:         lighten($gray-base, 93.5%); // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #005B26 !default;
$brand-info:            #1F3A7D !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #ab3032 !default;

$sponsored:             #f1f1f1!default; // IE: deloitte gray bg
$body__background:      #ffffff !default;

$text-color:            $gray-darker !default;
$border-color:          $gray-lightest !default;


/*
// Typeography
//
*/
$font-family-sans-serif:  Graphik Web, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sans-serif:              $font-family-sans-serif;
$font-family-serif:       Acta, Georgia, "Times New Roman", serif;
$serif:                   $font-family-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;
$font-family:             $font-family-base;

$font-family--alternate: $serif;
$line-height--default: 1.5;

$base-font-size: 18px !default;
$alpha-font-size: 40px !default;
$beta-font-size: 32px !default;
$gamma-font-size: 24px !default;
$delta-font-size: 16px !default;
$epsilon-font-size: 14px !default;
$zeta-font-size: 12px !default;


// social media color schemes
$facebook-brand-color: #3b5998 !default;
$linkedin-brand-color: #007bb5 !default;
$twitter-brand-color: #2ba9e1 !default;
$googleplus-brand-color: #b62c25 !default;
$email-color: #538A31 !default;
$sms-color: darken(#538A31, 10%) !default;

$vertical-rhythm: 1.4em !default;

// Custom Feature Colors
$breaking-news-color: #B73D41 !default;
$newsleads-brand-color: #4F8EB0 !default;

// Alerts
$error-state: #b62c25 !default;
$success-state: #25b628 !default;
$warning-state: #d1a01f !default;

//## Define colors for form feedback states and, by default, alerts. (BOOTSTRAP)
$state--success__text-color:             #3c763d;
$state--success__bg-color:               #dff0d8;
$state--success__border-color:           darken($state--success__bg-color, 10%);

$state--info__text-color:                #31708f;
$state--info__bg-color:                  #d9edf7;
$state--info__border-color:              darken($state--info__bg-color, 10%);

$state--warning__text-color:             #8a6d3b;
$state--warning__bg-color:               #fcf8e3;
$state--warning__border-color:           darken($state--warning__bg-color, 10%);

$state--danger__text-color:              $white;
$state--danger__bg-color:                #b62c25;
$state--danger__border-color:            darken($state--danger__bg-color, 10);

$state--error__text-color:              $state--danger__text-color;
$state--error__bg-color:                $state--danger__bg-color;
$state--error__border-color:            $state--danger__border-color;

//## Define alert colors, border-color radius, and padding. (BOOTSTRAP)
$alert--success__bg-color:            $state--success__bg-color;
$alert--success__text-color:          $state--success__text-color;
$alert--success__border-color:        $state--success__border-color;

$alert--info__bg-color:               $state--info__bg-color;
$alert--info__text-color:             $state--info__text-color;
$alert--info__border-color:           $state--info__border-color;

$alert--warning__bg-color:            $state--warning__bg-color;
$alert--warning__text-color:          $state--warning__text-color;
$alert--warning__border-color:        $state--warning__border-color;

$alert--danger__bg-color:             $state--danger__bg-color;
$alert--danger__text-color:           $state--danger__text-color;
$alert--danger__border-color:         $state--danger__border-color;

$alert--error__bg-color:             $state--error__bg-color;
$alert--error__text-color:           $state--error__text-color;
$alert--error__border-color:         $state--error__border-color;

$alert__font-family:                 $font-family;



/*------------------------------------*
    $BUTTONS
\*------------------------------------*/
$btn__padding-vertical: .5em;
$btn__padding-horizontal: .8em;
$btn__border-radius: 2px;
$btn__is-flat: true;
$btn__text-color: $gray;
$btn__background-color: #dddddd;
$btn__background-color--hover: darken($btn__background-color, 5%);
$btn__border-color: #ccc;
$btn__font-size: 15px;
$btn__font-family: $sans-serif;
$btn__font-weight: normal;
/* $btn__box-shadow: ~"inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)"; */

$btn--primary__border-radius: $btn__border-radius;

$btn--primary__text-color: $white;
$btn--primary__background-color: $sapphire;
$btn--primary__border-color: darken($btn--primary__background-color, 5%);
$btn--secondary__text-color: $white;
$btn--secondary__background-color: $gray-light;
$btn--secondary__border-color: darken($gray-light, 5%);
$btn--secondary__border-color: #6a6a6a;

$btn--large__font-size: 18px;
$btn--small__font-size: 12px;
$btn--xsmall__font-size: 1.0rem;
