.my-overflow-x {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  height: 100%;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  border: 1px solid #666;
  background: #fff;
}

img.my-overflow-x {
  margin: 5px 5px 5px 5px;
}

h2 {
  font-size: 24px;
  color: #666;
  margin-top: 50px;
  font-weight: 200;
}