body {
  background: #ffffff;
}
.docs__body {
  min-height: 100vh;
}
.viewport--md .header,
.viewport--md .market-header {
  height: 60px;
}
.docs__header {
  position: absolute;
}
.docs__menubar-item__btn.docs__menubar-item__btn {
  width: auto;
}
.docs__menubar-item__btn.docs__menubar-item__btn.is-active {
  font-weight: bold;
}
.docs__menubar-item {
  border-right: #eaeaea solid 1px;
}
.docs__logo-link {
  width: 200px;
  color: #fff;
  text-align: center;
}
.docs__logo-link:hover {
  text-decoration: none;
}
.docs__container {
  display: flex;
  min-height: 100vh;
}
.docs__sidebar {
  min-width: 200px;
  width: 200px;
  flex-grow: 0;
  background: #fafafa;
  border-right: #eaeaea solid 1px;
}
.docs__content {
  flex-grow: 1;
}
.docs__full-width {
  max-width: none;
  width: 100%;
}
.docs__content__container {
  max-width: 1024px;
}
.docs__sticker-boundary {
  margin-left: -200px;
}
.docs__anchor-links-container {
  float: left;
  width: 200px;
  margin-right: -200px;
  padding-right: 20px;
  padding-left: 20px;
}
.docs__anchors-list .submenu-item,
.docs__anchors-list a.submenu-item {
  color: #777777;
}
.docs__anchors-list .submenu-item:hover,
.docs__anchors-list a.submenu-item:hover {
  /*
      color: @white;
      background: @sapphire;
      */
  color: #222222;
  background: none;
  position: relative;
}
.docs__anchors-list .submenu-item:hover:after,
.docs__anchors-list a.submenu-item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 2px;
  width: 2px;
  background: #222222;
}
.docs__site-section-header__container.docs__site-section-header__container {
  padding-bottom: 0;
  text-align: left;
}
.docs__tabs__control-list {
  font-weight: bold;
  margin: 0 0 0 1em;
}
.docs__tabs__control {
  margin-right: 2em;
  margin-bottom: -3px;
}
.docs__tabs__control a {
  padding-top: 1em;
  padding-bottom: 1em;
}
.docs__callout {
  margin-bottom: 1em;
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: #faf7f3;
}
.docs__callout__header {
  padding: .5em 1em;
  border-left: 4px solid #efe9df;
  background: #f4f0e9;
}
.docs__callout__body {
  padding: .25em 1em;
  font-size: .875em;
  border-left: 4px solid #f2eee6;
}
.docs__h2 {
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
}
.docs__h3 {
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  color: #777777;
}
.docs__bem {
  font-weight: bold;
}
.docs__bem__element {
  color: #1f3a7d;
}
.docs__bem__modifier {
  color: #ab3032;
}
.secondary--example.secondary--example {
  float: none;
  margin-left: 0;
}
.viewport--lg .content__segment.content__segment.content__segment {
  margin-right: 0;
}
.docs__example {
  position: relative;
  margin-bottom: 2em;
  padding: 3.5em 1em 1em;
  font-weight: normal;
  border: 1px solid #eeeeee;
}
.docs__example:before,
.docs__example:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #a3a3a3;
  letter-spacing: 1px;
  padding: 1.25rem 1.5rem .75rem;
  display: block;
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ie-box-sizing: border-box;
  box-sizing: border-box;
}
.docs__example:before {
  content: "Example";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.docs__example:after {
  content: attr(data-label);
  font-size: 13px;
  text-align: right;
}
.docs__example + .docs__example {
  margin-top: -2em;
  border-top: none;
}
.docs__example + .docs__example:before {
  display: none;
}
.docs__example--condensed {
  font-size: .9333em;
  padding-top: .8em;
  padding-left: 7em;
  padding-bottom: .8em;
  border: none;
  border-left: #eeeeee solid 4px;
  border-bottom: #eeeeee solid 1px;
  background: #eeeeee;
}
.docs__example__area {
  padding: 1em;
  font-family: sans-serif;
  color: #777777;
  border: #eeeeee dashed 1px;
}
pre,
code {
  background-color: #f4f7fa;
}
pre {
  padding: .75em 1em;
  overflow-x: scroll;
}
code {
  padding-right: 2px;
  padding-left: 2px;
  font-size: calc(1em + 1px);
}
.docs__example .highlight {
  margin: 1em -1em calc(-2em + 3px) -1em;
}
.highlight pre {
  font-size: 14px;
}
.highlight code {
  font-size: 1em;
}
/**
 * Code formatting
 */
/**
 * Syntax highlighting styles
 */
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}
.docs__example__grid .row {
  margin-bottom: 10px;
}
.docs__example__grid .col__content {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .75em;
  line-height: 1;
  border: 1px solid #f2eee6;
  background: #f8f5ef;
}
[class^="docs__example__browser__chrome--"] {
  position: relative;
  background: #ddd;
  background-color: #d3d3d3;
  background-image: -moz-linear-gradient(top, #dddddd, #d3d3d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#d3d3d3));
  background-image: -webkit-linear-gradient(top, #dddddd, #d3d3d3);
  background-image: -o-linear-gradient(top, #dddddd, #d3d3d3);
  background-image: linear-gradient(to bottom, #dddddd, #d3d3d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffd3d3d3', GradientType=0);
}
.docs__example__browser__chrome--top {
  height: 20px;
  border-radius: 3px 3px 0 0;
}
.docs__example__browser__chrome--bottom {
  height: 6px;
  border-radius: 0 0 2px 2px;
}
[class^="docs__example__browser__chrome__stoplight"] {
  display: block;
  position: absolute;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
.docs__example__browser__content {
  background: #aaaaaa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYV2P4//+/FBbMgI4ZhohCbBhD81BQCAD6ay/4Sj20ZAAAAABJRU5ErkJggg==);
}
.docs__example__browser__chrome__stoplight--red {
  left: 4px;
  background: #ff5c52;
}
.docs__example__browser__chrome__stoplight--yellow {
  left: 12px;
  background: #fcea9b;
}
.docs__example__browser__chrome__stoplight--green {
  left: 20px;
  background: #9dce79;
}
.docs__example__browser--mobile {
  width: 260px;
  position: relative;
}
/*------------------------------------*
    $TABLES
    This likely needs to be integrated with the full site assets, and BEM-ized
    Have replaced single dashes with double dashes for modifiers, as a first step toward BEM
    Adapted from Bootstrap 3
\*------------------------------------*/
table {
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: .875em;
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.4em;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.4;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #eeeeee;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #eeeeee;
}
.table .table {
  background-color: #ffffff;
}
.table--condensed > thead > tr > th,
.table--condensed > tbody > tr > th,
.table--condensed > tfoot > tr > th,
.table--condensed > thead > tr > td,
.table--condensed > tbody > tr > td,
.table--condensed > tfoot > tr > td {
  padding: 5px;
}
.table--bordered {
  border: 1px solid #eeeeee;
}
.table--bordered > thead > tr > th,
.table--bordered > tbody > tr > th,
.table--bordered > tfoot > tr > th,
.table--bordered > thead > tr > td,
.table--bordered > tbody > tr > td,
.table--bordered > tfoot > tr > td {
  border: 1px solid #eeeeee;
}
.table--bordered > thead > tr > th,
.table--bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table--striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table--hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table--hover > tbody > tr > td.active:hover,
.table--hover > tbody > tr > th.active:hover,
.table--hover > tbody > tr.active:hover > td,
.table--hover > tbody > tr:hover > .active,
.table--hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table--hover > tbody > tr > td.success:hover,
.table--hover > tbody > tr > th.success:hover,
.table--hover > tbody > tr.success:hover > td,
.table--hover > tbody > tr:hover > .success,
.table--hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table--hover > tbody > tr > td.info:hover,
.table--hover > tbody > tr > th.info:hover,
.table--hover > tbody > tr.info:hover > td,
.table--hover > tbody > tr:hover > .info,
.table--hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table--hover > tbody > tr > td.warning:hover,
.table--hover > tbody > tr > th.warning:hover,
.table--hover > tbody > tr.warning:hover > td,
.table--hover > tbody > tr:hover > .warning,
.table--hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #b62c25;
}
.table--hover > tbody > tr > td.danger:hover,
.table--hover > tbody > tr > th.danger:hover,
.table--hover > tbody > tr.danger:hover > td,
.table--hover > tbody > tr:hover > .danger,
.table--hover > tbody > tr.danger:hover > th {
  background-color: #a12721;
}
/*
// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  overflow-x: auto;

  @media screen and (max-width: @screen-xs-max) {
    width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
*/
/*------------------------------------*
    $ICONS EXAMPLES
    Fontello's auto-generated demo.html is loaded in.
    It uses bootstrap to create a grid.
    Here's a copy/paste of the relative bits.
\*------------------------------------*/
#icons-placeholder .icon-example {
  margin-bottom: 12px;
}
#icons-placeholder .i-name {
  font-family: 'Graphik Web', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}
#icons-placeholder .i-code {
  display: none;
}
.demo-icon {
  font-family: "bizj-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.demo-icon:before {
  display: none;
  content: "";
}
/*------------------------------------*
    $STICKER
\*------------------------------------*/
/* Sticky update to ipad */
.no-csspositionsticky .sticker-boundary,
.no-csspositionsticky .sticky-boundary {
  position: relative;
}
.no-csspositionsticky .sticker-boundary--is-inview .sticker--is-stuck-to-boundary-bottom {
  position: absolute;
}
.no-csspositionsticky .sticker-boundary--is-inview .sticker--is-stuck-to-window-top {
  position: fixed;
}
/*
.generate-responsive-sticker-boundaries(@size-name, @media-query) {
    @media @media-query {
        .sticker-boundary--@{size-name} {
            .sticker-boundary-properties();
        }
    }
}
*/
.csspositionsticky.flexbox {
  /*
    .sticker-boundary {
        .sticker-boundary-properties();
    }
    */
  /*
    Responsive flexbox properties for each size will be applied "this size only"
    rather than "this size and greater" which is how the .hidden-- responsive utilities are applied.

    TODO: Reevaluate this? Will likely have to if we

    */
}
.csspositionsticky.flexbox .flexbox--stretch,
.csspositionsticky.flexbox .sticky-boundary {
  display: -webkit-box;
  /* iOS 6? */
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: stretch;
}
.csspositionsticky.flexbox .sticker,
.csspositionsticky.flexbox .sticky {
  z-index: 1;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
}
.csspositionsticky.flexbox .responsive {
  /*
        [class*="sticker--"] {
              position: static;
        }
        */
}
.csspositionsticky.flexbox .responsive [class*="flexbox--stretch--"] {
  display: block;
}
@media (max-width: 479px) {
  .csspositionsticky.flexbox .responsive .flexbox--stretch--xs {
    display: -webkit-box;
    /* iOS 6? */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: stretch;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .csspositionsticky.flexbox .responsive .flexbox--stretch--sm {
    display: -webkit-box;
    /* iOS 6? */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: stretch;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .csspositionsticky.flexbox .responsive .flexbox--stretch--md {
    display: -webkit-box;
    /* iOS 6? */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: stretch;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .csspositionsticky.flexbox .responsive .flexbox--stretch--lg {
    display: -webkit-box;
    /* iOS 6? */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: stretch;
  }
}
@media (min-width: 1200px) {
  .csspositionsticky.flexbox .responsive .flexbox--stretch--xl {
    display: -webkit-box;
    /* iOS 6? */
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: stretch;
  }
}

.docs__example {
  display:relative;
  padding: 45px 10 0;
  margin-right:0;
  margin-left:0;
  margin-bottom:0;
}