/*------------------------------------*
    $STRUCTURE
\*------------------------------------*/
* {
    @include box-sizing(border-box);
}
iframe {
    // So ads don't have bottom margins that can't be controlled.
    // This will likely cause an issue at some unknown point in the future.
    // For real implementation, we should be putting a class on the iframes.
    display: block;
}
.container {
    @include max-width($container__max-width);
    margin: 0 auto;
    @include padding(0 $buffer--phone-ish);
}
.container--wide {
	max-width: $container--wide__max-width;
}
.container--no-max {
    max-width: none;
}
@mixin generate-responsive-containers($size-name; $buffer){
    .viewport--#{$size-name} .container,
 	.viewport--#{$size-name} .#{$size-name}__container,
 	.viewport--#{$size-name}-only .#{$size-name}-only__container {
        @include padding(0 $buffer);
    }

	.viewport--#{$size-name} .expander,
 	.viewport--#{$size-name} .#{$size-name}__expander,
 	.viewport--#{$size-name}-only .#{$size-name}-only__expander {
        @include margin(0 -$buffer);
    }

}
@include generate-responsive-containers(xs, $buffer--phone-ish);
@include generate-responsive-containers(sm, $buffer--phone-ish--large);
@include generate-responsive-containers(md, $buffer--tablet-ish);
@include generate-responsive-containers(lg, $buffer--desktop-ish);
@include generate-responsive-containers(xl, $buffer--desktop-ish--large);

.chunk {
    margin: 0 auto;
    width: inherit;
    width: auto;

    @include clear-floats();
}
.chunk--spacious {
    padding-top: 3em;
    padding-bottom: 3em;
}

.wide--ruled {
    line-height: 1.6;
}

main {

}

.clear-menubar {
//    margin-top: -$menubar-height--mobile;
    //margin-top: $menubar-height--mobile;
    margin-top: $menubar-height--mobile + $header-top-border-width--mobile; // TODO: Remove hack that accounts for border

    .viewport--md & {
//        margin-top: -$menubar-height;
        //margin-top: $menubar-height;
        margin-top: $menubar-height + $header-top-border-width; // TODO: Remove hack that accounts for border
    }
}
.clear-skyboxes {
//    margin-top: -$skyboxes-height;
    padding-top: $skyboxes-height;
}

.clear-header {
//    margin-top: -$header-height--mobile;
    padding-top: $header-height--mobile;

    .viewport--md & {
//        margin-top: -$header-height;
        padding-top: $header-height;
    }
}

.clear-header--has-skyboxes {
//    margin-top: -$header-height--mobile;
    padding-top: $header-height--mobile;

    .viewport--md & {
//        margin-top: -$header-height;
        padding-top: $header-height__skyboxes;
    }
}

// Presently used by sheets to prevent scrolling. Not sure where it should live, if it should be specific to sheets, etc.
.is-overlaid {
    overflow: hidden;
}




/*------------------------------------*
    $PRIMARY, SECONDARY
\*------------------------------------*/
.primary,
.secondary {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
.viewport--md {
    .primary {
        float: left;
        width: 100%;
        padding-right: $sidebar__width--tablet-ish + $gutter--tablet-ish;
        padding-left: 0;
    }
    .secondary {
        float: left;
        width: $sidebar__width--tablet-ish;
        margin-right: 0;
        margin-left: -$sidebar__width--tablet-ish;
    }
}

.viewport--lg {
    .primary {
        padding-right: ($sidebar__width + $gutter--desktop-ish);
    }
    .secondary {
        width: $sidebar__width;
        margin-left: -$sidebar__width;
    }
}