progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 20px;
}

progress::-webkit-progress-bar {
    background: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    .sapphire & {
        background: $sapphire;
    }
    .ruby & {
        background: $ruby;
    }
    .emerald & {
        background: $emerald
    }
}