/*------------------------------------*
    $SECTION-HEADER

    Can have Image logo override the text logo. IE: The List
    Can have up to 3 sponsor logos along with the title of the section
\*------------------------------------*/
// Box size for background images is 3:1 (approximated)
$logo-width-min: 100px !default;
$logo-width-max: 300px !default;
$logo-height-min: 50px !default;
$logo-height-max: 150px !default;

// list ratio format
$logo-the-list-width-min: 150px !default;
$logo-the-list-width-max: 300px !default;
$logo-the-list-height-min: 20px !default;
$logo-the-list-height-max: 40px !default;

// sponsored by logo formatting
$sponsored-by__logo-width-min: 88px !default;
$sponsored-by__logo-height-min: 31px !default;

$sponsored-by__logo-width-max: 120px !default;
$sponsored-by__logo-height-max: 60px !default;

$sponsored-by__logo-gutter: 12px !default;
$sponsored-by__logo-gutter-half: ($sponsored-by__logo-gutter / 2) !default;

$sponsored-by__label-approx-width: 100px !default;

// Approximate width that the sponsor logos take up, used to prevent the section title from displaying underneath

$has-1-sponsor-logo__off-limits-width: ($sponsored-by__logo-width-max + $sponsored-by__logo-gutter + $sponsored-by__label-approx-width) !default;
$has-2-sponsor-logos__off-limits-width: ($has-1-sponsor-logo__off-limits-width + $sponsored-by__logo-width-max + $sponsored-by__logo-gutter-half) !default;
$has-3-sponsor-logos__off-limits-width: ($has-2-sponsor-logos__off-limits-width + $sponsored-by__logo-width-max + $sponsored-by__logo-gutter-half) !default;

.site-section-header {
    margin: 0;

    text-align: center;

    @include striped();

    border: $border-color solid 1px;
    border-right: none;
    border-left: none;
}
// in case you want to align left by default
.site-section-header--left-aligned {
    text-align: left;
}
// new variant on site section header
.site-section-header--v2 {
    .viewport--lg & {
        text-align: left;
    }
}

.site-section-header__container {
    position: relative;
    padding-top: .75em;
    padding-bottom: .5em;

    .viewport--md & {
        padding-top: 1.618em;
        padding-bottom: 1em;
    }

    .viewport--md-only .has-1-sponsor-logo &,
    .viewport--md-only .has-1-sponsor-logos & {
        padding-right: $has-1-sponsor-logo__off-limits-width;
    }

    // When title is centered with sponsor logos on right, needs padding on both sides.
    .viewport--lg .has-1-sponsor-logo &,
    .viewport--lg .has-1-sponsor-logos & {
        padding-right: $has-1-sponsor-logo__off-limits-width;
        padding-left: $has-1-sponsor-logo__off-limits-width;
    }
    .viewport--lg .has-2-sponsor-logos & {
        padding-right: $has-2-sponsor-logos__off-limits-width;
        padding-left: $has-2-sponsor-logos__off-limits-width;
    }
    .viewport--lg .has-3-sponsor-logos & {
        padding-right: $has-3-sponsor-logos__off-limits-width;
        padding-left: $has-3-sponsor-logos__off-limits-width;
    }

    // .viewport--lg .site-section-header--v2 .has-1-sponsor-logo &,
    // .viewport--lg .site-section-header--v2 .has-1-sponsor-logos &,
    // .viewport--lg .site-section-header--v2 .has-2-sponsor-logos &,
    // .viewport--lg .site-section-header--v2 .has-3-sponsor-logos &{
    //     padding-left: 0;
    // }

    // Text on left, don't need left padding
    .viewport--md-only .has-1-sponsor-logo &,
    .viewport--md-only .has-1-sponsor-logos &,
    .viewport--lg .has-2-sponsor-logos &,
    .viewport--lg .has-3-sponsor-logos & {
        padding-left: 0;
        text-align: left;
    }
}

.site-section-header__title.site-section-header__title {
    margin: 0;
    padding: 0;

    font-family: $sans-serif;
    font-weight: normal;
    @include font-size(16px);
    text-transform: uppercase;
    line-height: 1;

    .viewport--md & {
        @include font-size(24px);
    }

    .viewport--lg .site-section-header--v2 & {
        @include font-size(36px);
    }
    /*
    .viewport--md-only & {
        padding-right: 240px; // Make room for sponsor logo
    }
    */

    .title-as-logo { display: none; }

    .has-header-title-logo & {
        .title-as-text { display: none; } // removes text title instance
        .title-as-logo {
            position: relative;
            display: block;
            margin: 0 auto;

            width: $logo-width-min;
            height: $logo-height-min;

            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;

            .sapphire & {
                background-image: url(~'../img/logos/list-logo-sapphire.png');
            }
            .ruby & {
                background-image: url(~'../img/logos/list-logo-ruby.png');
            }
            .emerald & {
                background-image: url(~'../img/logos/list-logo-emerald.png');
            }

            &.the-list-logo {
                width: $logo-the-list-width-min;
                height: $logo-the-list-height-min;
            }
        }

        .viewport--sm & {
            .title-as-logo {
                width: $logo-width-max;
                height: $logo-height-max;
//
//
                // .sapphire & {
                //     background-image: url(~'../img/the-list-logo-sapphire.svg');
                // }
                // .ruby & {
                //     background-color: orange;
                //     background-image: url(~'../img/the-list-logo-ruby.svg');
                // }
                // .emerald & {
                //     background-image: url(~'../img/the-list-logo-emerald.svg');
                // }

                &.the-list-logo {
                    width: $logo-the-list-width-max;
                    height: $logo-the-list-height-max;
                }
            }
        }
    }
}

.site-section-header__links {
    margin-bottom:0;
    @include font-size(13px);

    li {
        margin-right: 0;
        margin-left: .7em;

        &:first-child { margin-left: 0; }

        &:before {
            display: inline-block;
            padding-right: 1em;
            color: $gray-light;
        }
        &:first-child:before {
            content: "";
            width: 0;
            padding: 0;
            margin: 0;
        }
    }

    .viewport--xs-only &,
    .viewport--sm-only & {
        display: none;
    }
}

.sponsored-by {
    font-size: 0; // For inline-block spacing
}
.sponsored-by__label {
    display: block;
    margin-top: 1em;
    margin-bottom: .5em;

    font-family: $sans-serif;
    @include font-size(10px);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: $gray-light;
}
.sponsored-by__logo {
    display: inline-block;
    min-width: $sponsored-by__logo-width-min;
    min-height: $sponsored-by__logo-height-min;

    margin-right: $sponsored-by__logo-gutter-half;
    margin-left: $sponsored-by__logo-gutter-half;
}

.sponsored-by--right {
    position: absolute;
    display: table-row;
    top: 50%;
    right: 0;
    @include translate(0, -50%);
    min-height: $sponsored-by__logo-height-min;

    .sponsored-by__label {
        display: table-cell;
        vertical-align: middle;
        height: $sponsored-by__logo-height-max;
        padding-right: .5em;

        text-align: right;
    }
    .sponsored-by__logo {
        display: table-cell;
        vertical-align: middle;
        height: $sponsored-by__logo-height-max;
        margin: 0;
        padding-left: $sponsored-by__logo-gutter;
        @include box-sizing(content-box);
    }
}
.viewport--md-only {
    .has-1-sponsor-logo {
        .site-section-header__title {
//            text-align: left;
        }
        .sponsored-by {
            &:extend(.sponsored-by--right all);
        }
    }
}
.viewport--lg-only {
    .has-1-sponsor-logo,
    .has-2-sponsor-logos,
    .has-3-sponsor-logos {
        .sponsored-by {
            &:extend(.sponsored-by--right all);
        }
    }
    .has-2-sponsor-logos,
    .has-3-sponsor-logos {
        .site-section-header__title {
//            text-align: left;
        }
    }
}

.viewport--xl-only {
//    .has-1-sponsor-logo,
//    .has-2-sponsor-logos,
//    .has-3-sponsor-logos {
        .sponsored-by {
            &:extend(.sponsored-by--right all);
        }
//    }
}